@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0 1px;
    border: none;
    
}

:root {
    --cor0:#000000;
    --cor1:#ffff;
    --cor2:#55B1BB;
    --cor3:#DAF6FF;
    --cor4:#64BEBF;
    --cor5:#007A85;
    --cor6:#04494F; 
}




body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-weight: 500;
    background-color: #64BEBF;
    font-size: 1.2em;
    margin-bottom: 20px;
    max-width: 1920;
    
   
}

body a {
    text-decoration: none;
    color:#55B1BB;
    background-color: #007A85;
    padding: 2px 6px;
}


header > h1 {
    background-color: #DAF6FF;
    color:#007A85;
    text-align: left;
    padding-bottom: 20px;
    font-size: 2em;
}

/* Style for Nav - menu */
#menu {
    padding: 0;
    width: 100%;
    
}

#menu ul {
    margin-top: 0px;
    padding: 0;
    display: flex;
    justify-content: right;
    
}

#menu li {
    list-style: none;
    padding: 3px;
    margin: 10px;
    border-radius: 7%;
    
    
}

#menu a {
    color: #DAF6FF;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .3s;
}

#menu a:hover {
    background-color: #55B1BB;
    color: #04494F;
    border-radius: 7%;
}

@media screen and (max-width: 442px) {
    
    #menu {
        float: none;
        text-align: center;
    }
}

/* image */

#grazi-image {
    height: 730px;
    background: url('../image/grazi-image3.jpg') no-repeat center center;
}



/*about me*/
#about {
    text-align: center;
    padding-top: 20px;
}

#about h2 {
    font-size: 1.5em;
    padding: 20px;
}

#about p {
    text-align: left; 
    text-indent: 15px;
    padding: 0 100px 20px;
    font-size: 1.2em;
    margin-bottom: 20px;
    max-width: 1920;
    
}

/* cbt */

#cbt {
    text-align: center;   
}

#cbt h2 {
    font-size: 1.5em;
    padding: 20px;
}

#cbt p {
    text-align: left; 
    text-indent: 15px;
    padding: 0 100px 20px;
    font-size: 1.2em;
    margin-bottom: 20px;
    max-width: 1920;
   
}

a.externo::after {
    content: '\00A0\1F517';
}

/*list*/
aside {
    background-color: #DAF6FF;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
    
    
}

aside h2{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
   
}

aside li {
    text-align: left;
    text-indent: 15px;
    padding: 0 100px 20px;
    font-size: 1em;
    margin-bottom: 20px;
}

aside p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    width: 100%;
}

/* Form */

#contact {
    padding-top: 20px;
    background-position: center;
    height: 400px;
}


    

#contact h2 {
    font-size: 1.3em;
    text-align: center;
    color:#007A85;
    margin-bottom:20px;
} 

.text-input {
     background: transparent;
     color:white;
     width:100%;
     height:25px;
     margin:5px 0 20px 0;
     border:1px solid white;
     border-radius:2px;
}

.text-input:hover{
    border-color:#4b909c;
}

.join-button {
    margin-top:20px;
    border-radius:2px;
    padding:15px 32px 15px 32px;
    text-align:center;
    font-size:100%;
    background-color:#4b909c;
    color:white;
    display:block;
}

.join-button:hover{
    background-color:#DAF6FF;
    color:#4b909c;
}  

#contact textarea {
     background-color: white;
     color:black;
     height:80px;
     margin:5px 0 20px 0;
     border:1px solid;
     border-radius:2px;
     
}
 

/* Footer */
footer {
    text-align: center;
    font-size: 10px;
    margin-bottom: 20px;
    padding-top: 50px;
}

footer li {
    list-style: none;
    font-size: 1em;
    margin-bottom: 20px;
}

.social-links {
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-links i {
    font-size: 400%;
    color: #007A85;
    padding: 0;
    margin: 15px;
    text-shadow: 0.5px 1px 2px white;
}

.social-links i:hover {
    color: #55B1BB;
    text-shadow: none;
}