@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    background-color: rgb(212, 228, 228);
}

 h1,h3 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}


#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h3 {
    color: rgb(221, 224, 17);
}

#grazi-image {
    height: 600px;
    width: 100%;
    background: url('../image/grazi-image3.jpg') no-repeat center center;
}

#cover-text {
    font-size: 100%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 200px;
    height: 50px;

    padding-top: 10px;
    padding-left: 10px;

    background-color: rgba(250, 249, 215, 0);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* cbt */

#cbt {
    height: 600px;
    text-align: center;
}

#left {
    padding-top: 30px;
    width: 49%;
    float: left;
    
}

#right {
    text-align: center;
    padding-top: 30px;
    width: 49%;
    float: right;
    
}

.left-heading {
    text-align: center;
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-heading {
    width: 60%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}